body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    background: #191919f8;
    position: relative;
    color: white;
    overflow: hidden;
    font-family: "Poppins", sans-serif;
}

a {
    text-decoration: none;
    background: white;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.box {
    font-size: 30px;
    color: white;
    height: 250px;
    width: 350px;
    border-radius: 10px;
    background: #191919;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

#question-show {
    text-align: center;
}

img {
    position: absolute;
    display: none;
    width: 90%;
    max-width: 700px;
}

.button-container {
    display: flex;
    justify-content: space-around;
    height: 50px;
    width: 150px;
}

#yes,
#no,
#send {
    min-height: 30px;
    min-width: 100px;
    padding: 5px 10px;
    background: white;
    border-radius: 5px;
    color: black;
    font-weight: 600;
    cursor: pointer;
    border: none;
    margin: 5px;
}

#no {
    background-color: #f24b2d;
    color: white;
    font-size: 16px;
}

a,
#yes:hover {
    background: greenyellow;
    transition: all 0.3s;
    color: white;
    font-size: 20px;
}

@keyframes slideinON {
    0% {
        z-index: 10;
        opacity: 0;
    }
    100% {
        z-index: 10;
        opacity: 1;
    }
}

@keyframes slideinOFF {
    0% {
        z-index: 10;
        opacity: 1;
    }
    100% {
        z-index: 10;
        opacity: 0;
        display: none;
    }
}

#container-question {
    animation: containerInON 2s both;
    margin-top: 25px;
}

@keyframes containerInON {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes containerInOFF {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.change-question {
    position: fixed;
    top: 0;
    right: 0;
    background: white;
    border-radius: 5px;
    color: black;
    font-weight: 600;
    cursor: pointer;
    border: none;
    margin: 5px;
}

.container-form {
    display: flex;
}

.label-form {
    flex: 3;
}

.input-form {
    flex: 9;
}

.send {
    width: 100%;
}
